/* ----- General ----- */
body {
  background-color: #999929;
  color: #2b2b09;
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: bolder;
}

/* ----- Image + title ----- */
#img-div {
  padding-bottom: 30px;
  margin: auto;
  position: relative;
  margin: auto;
  max-width: 100%;
}

#img-caption {
  display: block;
  margin: 15px 0;
  position: absolute;
  left: 2%;
  bottom: 2vw;
}

#image {
  width: 100%;
  display: block;
  margin: auto;
  max-width: 100%;
}

#title {
  position: absolute;
  color: #75712f;
  top: 13%;
  right: 5%;
  font-family: 'Lobster Two', cursive;
  font-size: 6vw;
}

h3 {
  position: absolute;
  color: #75712f;
  top: 25%;
  right: 5%;
  font-family: 'Lobster Two', cursive;
  font-size: 3vw;
}

#date {
  top: 33%;
}

/* ----- Description ----- */


#tribute-info {
  width: 1000px;
  line-height: 2.5;
  margin: auto;
}

h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}

ul {

  margin-bottom: 50px;
  font-size: 20px;
}

#tribute-link {
  color: white;
}

footer {
  font-size: 26px;
  text-align: center;
}
